<!DOCTYPE html>
<html lang="en">
<head>
    <title>HBNB</title>
    <link rel="stylesheet" href="/static/styles/3-header.css" type="text/css">
    <link rel="stylesheet" href="/static/styles/4-common.css" type="text/css">
    <link rel="stylesheet" href="/static/styles/3-footer.css" type="text/css">
    <link rel="stylesheet" href="/static/styles/6-filters.css" type="text/css">
</head>
<body>
    <header class="header" id="header">
        <nav class="nav" id="nav">
            <ul>
                <li><a href="/" class="nav-link">Home</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <section class="filters" id="filters">
            <h1>Places</h1>
            <div class="options">
                <div class="places">
                    <h3>States</h3>
                    <div class="filter" id="state_filter">
                        <div class="popover">
                            {% for state in states %}
                            <div class="checkbox">
                                <input type="checkbox" name="state" value="{{ state.id }}">{{ state.name }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="cities">
                    <h3>Cities</h3>
                    <div class="filter" id="city_filter">
                        <div class="popover">
                            {% for city in cities %}
                            <div class="checkbox">
                                <input type="checkbox" name="city" value="{{ city.id }}">{{ city.name }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
                <div class="amenities">
                    <h3>Amenities</h3>
                    <div class="filter" id="amenity_filter">
                        <div class="popover">
                            {% for amenity in amenities %}
                            <div class="checkbox">
                                <input type="checkbox" name="amenity" value="{{ amenity.id }}">{{ amenity.name }}
                            </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>
    <footer class="footer" id="footer">
        <p>Footer</p>
    </footer>
</body>
</html>

